.card-container {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 8%;
    width: 38%;
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: blanchedalmond;
    height: 179px;
    .photo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .pizza-description {
        margin: 10px;
        height: 70px;
    }
    .cart-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .ant-btn.ant-btn-default {
            height: 20px;
            border: 1px solid white;
            background-color: rgb(0, 0, 0);
            color: white;
            padding-left: 16px;
            padding-right: 16px;
            letter-spacing: 3px;
            border-radius: 5px;
            height: 30px;
            cursor: pointer;
        }
        .ant-input-number-input {
            width: 40px;
        }
    }
}
