.root-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    .home-content {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;

    .all-pizzas-container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        justify-content: center;
        .pizza-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}

.Collapsible {
    background-color: white;
}

//The content within the collaspable area
.Collapsible__contentInner {
    padding: 10px;
    border: 1px solid rgb(235, 235, 235);
    border-top: 0;

    p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: rgb(51, 51, 51);
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: rgb(0, 172, 157);
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:after {
        font-family: "FontAwesome";
        content: "\f107";
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        transition: transform 300ms;
    }

    &.is-open {
        &:after {
            transform: rotateZ(180deg);
        }
    }

    &.is-disabled {
        opacity: 0.5;
        background-color: grey;
    }
}

.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
    background-color: darkslateblue;
}

.Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #cbb700;
    color: black;
}
